<div>
    <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
        <c-modal-header>
            <h5 cModalTitle>{{modelTitle}}</h5>
            <button (click)="toggleLiveModel()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>{{modelBody}}</c-modal-body>
        <c-modal-footer>
            <button (click)="toggleLiveModel()" class="btn btn-secondary">
                {{btnCancelText}}
            </button>
            <button #confirmationModel class="btn btn-primary"
                (click)="btnConfirmationAP()">{{btnConfirmationText}}</button>
        </c-modal-footer>
    </c-modal>
</div>